body{
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.heading{
    text-align: center;
    justify-content: center;
}
.container{
    display: flex;
    margin: auto;
    height: 500px;
    width: 500px;
}
.game{
    position: absolute;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 500px;
    margin: auto;
    padding: 1.5rem;
}

.btn{
    display: block;
    position: relative;
    color:white;
    background-color: black;
    cursor: pointer;
    margin: auto;
    font-size: 25px;
    
}

.column{
    background: white;
    color: white;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    padding: auto;
    cursor: pointer;
}

#board .human-coin,
.human-coin {
    border-radius: 50%;
    background: #333;
}
/*defines cpu coin*/
#board .cpu-coin,
.cpu-coin {
    border-radius: 50%;
    background: #DC143C;
}